.main
  .main__header
    .main__header--group
      .name
        = @group.name
      .member
        Member:
        - @group.users.each do |user|
          = user.name
    .edit--btn
      =link_to 'Edit', edit_group_path(@group) 
  .main__disply
    = render @messages

  .main__message
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'main__message--box', placeholder: 'type a message'
      .icon
        = f.label :image, class: 'icon_image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send--btn'

